.textareaOverlay {
    position: relative;
    display: flex;
    min-height: 0;
    max-height: 300px;
    width: inherit;
    height: inherit;
    z-index: 1;
    border-radius: 4px;
    flex: 1;
    overflow: visible;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.textarea {
    position: relative;
    width: 100%;
    overflow-y: auto;
    height: auto;
    min-height: 100%;
    color: var(--global-neutral-color);
    font-family: var(--1nth-font);
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 300;
    border-radius: inherit;
    outline: 1px solid transparent;
    outline-offset: 10px;
    transition:
        outline-offset 0.13s linear 0.05s,
        outline-color 0.13s linear;
}

.textarea:focus-within {
    outline-color: var(--global-color-link);
    outline-offset: 0px;
    transition:
        outline-offset 0.13s linear,
        outline-color 0.13s linear 0.03s;
}

.placeholder {
    color: var(--global-neutral-color);
    opacity: 0.5;
    font-family: var(--2nth-font);
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    z-index: 2;
}
