.textareaOverlay {
    position: relative;
    display: flex;
    min-height: 0;
    max-height: 300px;
    width: inherit;
    height: inherit;
    z-index: 1;
    border-radius: 4px;
    flex: 1;
    overflow: visible;
}

.textarea {
    position: relative;
    width: 100%;
    overflow-y: auto;
    height: auto;
    min-height: 100%;
    color: var(--foreground);

    padding: 8px 12px;

    font-weight: 300;
    border-radius: inherit;
    outline: 1px solid transparent;
    outline-offset: 10px;
    transition:
        outline-offset 0.13s linear 0.05s,
        outline-color 0.13s linear;
}

.textarea:focus-within {
    outline-color: var(--foreground);
    outline-offset: 0px;
    transition:
        outline-offset 0.13s linear,
        outline-color 0.13s linear 0.03s;
}

.placeholder {
    color: var(--foreground);
    opacity: 0.5;

    padding: 8px 12px;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    z-index: 2;
}
