@use "@css/fns" as fn;

.transitionDropDown {
    /* настройки основного контейнера */
    --bgPrimaryContainer: rgb(40, 44, 52);
    --bgPrimaryContainerShow: rgb(40, 44, 52);
    --BoxShadowPrimaryContainer: none;
    --BoxShadowPrimaryContainerShow: 0px 1px 4px 1px rgba(0, 0, 0, 0.498);

    /* титульный блок */
    --bgTitleBlock: rgb(40, 44, 52);
    --bgTitleBlockShow: rgb(40, 44, 52);
    --BoxShadowTitleBlock: none;
    --BoxShadowTitleBlockShow: none;
    --colorTitleBlock: var(--foreground);
    --colorTitleBlockShow: var(--foreground);
    --fillTitleBlockIcon: var(--foreground);
    --fillTitleBlockIconShow: var(--foreground);

    /* контент блок */
    --bgContentBlock: none;
    --bgContentBlockShow: none;
    --BoxShadowContentBlock: none;
    --BoxShadowContentBlockShow: none;

    /* время анимации */
    --primaryAnimationTime: 300ms;
    --secondAnimationTime: calc(var(--primaryAnimationTime) - 50ms);
    overflow: hidden;
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    transition:
        background var(--secondAnimationTime) ease-in,
        box-shadow var(--secondAnimationTime) ease-in;
    background: var(--bgPrimaryContainer);
}

.active {
    background: var(--bgPrimaryContainerShow);
    transition:
        background var(--secondAnimationTime) ease-in,
        box-shadow var(--secondAnimationTime) ease-in;
    box-shadow: var(--BoxShadowPrimaryContainerShow);
}

.titleBlock {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
    padding-left: var(--pl, 20px);
    background: var(--bgTitleBlock);
    box-shadow: var(--BoxShadowTitleBlock);

    transition:
        box-shadow var(--primaryAnimationTime) ease-in,
        background var(--secondAnimationTime) ease-in;
}

.active .titleBlock {
    transition:
        box-shadow var(--secondAnimationTime) ease-in,
        background var(--primaryAnimationTime) ease-in;
    box-shadow: var(--BoxShadowTitleBlockShow);
    background: var(--bgTitleBlockShow);
}

.titleBlock span {
    user-select: none;
    color: var(--colorTitleBlock);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.1px;
    transition: color var(--primaryAnimationTime) ease-in;
}

.active .titleBlock span {
    color: var(--colorTitleBlockShow);
    transition: color var(--secondAnimationTime) ease-in;
}

.titleBlock svg {
    fill: var(--fillTitleBlockIcon);
    transform: rotate(-90deg);
    transform-origin: center center;
    transition: transform var(--primaryAnimationTime) ease-in;
    width: 20px;
    height: 20px;
}

.active .titleBlock svg {
    transition: transform var(--secondAnimationTime) ease-in;
    transform: rotate(0deg);
    fill: var(--fillTitleBlockIconShow);
}

.bodyDropDown {
    will-change: opacity, height, padding;
    display: block;
    opacity: 0;
    box-shadow: var(--BoxShadowContentBlock);
    overflow: hidden;
    margin: 0;
    padding: 0px;
    transition:
        height var(--primaryAnimationTime) ease-in,
        opacity calc(4 * calc(var(--primaryAnimationTime) / 5)) ease-in;
    background: var(--bgContentBlock);
}

.active .bodyDropDown {
    transition:
        height var(--primaryAnimationTime) ease-in,
        opacity var(--secondAnimationTime) ease-in
            calc(2 * calc(var(--primaryAnimationTime) / 5));
    opacity: 1;
    box-shadow: var(--BoxShadowContentBlockShow);
    background: var(--bgContentBlockShow);
}
